<!DOCTYPE html>
<html>

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/main.js') }}">
    <title>BigAuction</title>
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">BigAuction</a>

            <form class="form-inline my-2 my-lg-0" method="POST" action="/search/viewOnly">
                <div class="input-group input-group-sm">
                    <input type="text" name="search" class="form-control" placeholder="Search...">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary btn-number">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </nav>

    <div class="container" style="margin-top: 40px;">

        <h1 style="text-align: center;">{{name}}</h1>

        <div class="row">
            <!-- Image -->
            <div class="col-12 col-lg-6">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <a href="" data-toggle="modal" data-target="#productModal">
                            <img class="img-fluid" style="height: 300px; width: 100%;" src="{{url}}" />
                        </a>
                    </div>
                </div>
            </div>

            <!-- Add to cart -->
            <div class="col-12 col-lg-6 add_to_cart_block" style="height: 240px;">
                <div class="card bg-light mb-3">
                    <div class="card-body">

                        <form method="POST" action="/addToCart/{{id}}">
                            <p style="display: inline-block;">Category: {{category}}</p>
                            <p class="price">Price: {{price}}</p>
                            <p>Stock Left: {{amount}} units</p>
                            <div class="form-group" style="margin-bottom: 10px;">
                                <label>Quantity :</label>
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" id="quantity" name="quantity" min="1"
                                        value="1">
                                </div>
                            </div>
                            <button type="button" class="btn btn-success btn-lg btn-block text-uppercase"
                                style="margin-top: 25px;" data-toggle="modal" data-target="#exampleModalCenter">
                                <i class="fa fa-shopping-cart"></i> Add To Cart
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <style>
            @media screen and (max-width: 990px) {
                #description {
                    margin-top: 90px;
                }
            }
        </style>


        <div class="row" id="description">
            <div style="width:90%;border-top:1px solid silver; margin: 0 auto;">
                <p style="padding:15px; word-wrap: break-word;">
                    {{description}}
                </p>
            </div>
        </div>

        <h3 style="text-align: center; margin-top: -8px;">Similar Products</h3>
        <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">
                <div class="carousel-item row no-gutters active">
                    {% for product in products1 %}
                    <div class="col-3 float-left"><a href="/item/{{product.id}}/viewOnly"><img class="img-fluid"
                                style="width: 100%; height: 250px;" src="{{product.url}}"></a></div>
                    {% endfor %}
                </div>
                <div class="carousel-item row no-gutters">
                    {% for product in products2 %}
                    <div class="col-3 float-left"><a href="/item/{{product.id}}/viewOnly"><img class="img-fluid"
                                style="width: 100%; height: 250px;" src="{{product.url}}"></a></div>
                    {% endfor %}
                </div>
            </div>
            <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <!-- Footer -->
        <footer class="text-light">
            <div class="col-12 copyright mt-3">
                <p class="float-left">
                    <a href="/store/all/viewOnly" style="text-align: center;">Back to store</a>
                </p>
            </div>
        </footer>

        <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="productModalLabel">{{name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img class="img-fluid" style="width: 100%; height: 100%;" src="{{url}}" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">OOF! You're not logged in!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    In order to purchase an item, you must first be logged in. Please log in to purchase this item.
                </div>
                <div class="modal-footer">
                    <a href="/login" class="btn btn-primary" style="color: white; width: 110px;">Log In</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>